:root{
    --red:#e74c3c;
    --light-color:#777;
 }
 
.menu h1{
    font-size: 40px;
    text-decoration: underline;
}
.menu .box-containers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin-top: 10px;
    margin-bottom: 50px;
}

.menu .box-containers .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu .box-containers .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-containers .box .image img{
    height: 200px;
    width: 250px;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-containers .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-containers .box .image .fa-heart:hover{
    background-color: var(--green);
    color:#fff;
}

.menu .box-containers .box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-containers .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-containers .box .content .stars i{
   font-size: 1.7rem;
   color: #cb263a ;
}

.menu .box-containers .box .content h3{
    color: #000000;
    font-size: 2rem;
}

.menu .box-containers .box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-containers .box .content .price{
    color:var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.menus .box-containers .content .qty{
    padding:0.5rem;
    font-size: 1.8rem;
    color:var(--black);
    background-color: rgb(222, 214, 214);
    margin-left: 80px;
    border:0.2rem solid black;
 }

 .del{
    margin-left: 530px;
    margin-top: 200px;
    font-size: 2rem;
    font-weight: bold;
    color:#fff;
    background: #b71515;
    border-radius: .5rem;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 200px;
}

.del:hover{
    letter-spacing: .1rem;
}
.menu .box-containers .box .content .fa-edit{
    width: 5rem;
    background-color:aliceblue;
    color:black;
    cursor: pointer;
    font-size: 1.8rem;
    height: 3.9rem;
    border:0.2rem solid black;

 }
 .sub-total{
    margin-top: 1rem;
    font-size: 1.8rem;
    color:#777;
 }
 
 .sub-total span{
    color:red;
 }
 
 .cart-total{
    display: flex;
    align-items: center;
    gap:1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    border:0.2rem solid black;
    padding:1rem;
    background-color: rgb(237, 230, 230);
 }
 
 .cart-total p{
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .cart-total p span{
    color:var(--red);
 }
 
 .cart-total .btn{
    margin-top: 0;
 }
 

 /* checkout css */
 .checkout h1{
    font-size: 40px;
    text-decoration:underline;
}
.checkout form{
    max-width: 60rem;
    margin:0 auto;
    border:0.2rem solid black;
    padding:2rem;
 }
 
 .checkout form h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    padding: 2rem 0;
    color:black;
 }
 
 .checkout form .cart-items{
    background-color: rgb(221, 217, 217);
    padding:2rem;
    padding-top: 0;
 }
 
 .checkout form .cart-items h3{
    color:rgb(10, 7, 7);
 }
 
 .checkout form .cart-items p{
    display: flex;
    align-items: center;
    gap:1.5rem;
    justify-content: space-between;
    margin:1rem 0;
    line-height: 1.5;
    font-size: 2rem;
 }
 
 .checkout form .cart-items p .name{
    color:#000000;
 }
  
 .checkout form .cart-items .grand-total{
    background-color: white;
    padding:.5rem 1.5rem;
 }
 
 .checkout form .cart-items .grand-total .price{
    color:var(--red);
 }
 
 .checkout form .user-profile p{ 
    font-size: 2rem;
    line-height: 1.5;
    padding:1rem 0;
 }
 
 .checkout form .user-profile p i{
    color:rgb(186, 14, 22);
    margin-right: 1rem;
 }
 
 .checkout form .user-profile p span{
    color:black;
 }
 
 .checkout form .user-profile .box{
    width: 100%;
    border:var(--border);
    padding:1.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
 }
 
/* orders */
.orders h1{
    font-size: 40px;
    text-decoration:underline;
}
.orders .box-containers{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .orders .box-containers .box{
    padding:1rem 2rem;
    border:0.2rem solid black;
    flex:1 1 40rem;
 }
 
 .orders .box-containers .box p{
    line-height: 1.5;
    margin:1rem 0;
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .orders .box-containers .box p span{
    color:black;
 }
 
 /* profile */
 /* .form-container form{
    border: 0.2em solid black;
    margin:0 auto;
    max-width: 50rem;
    padding:2rem;
    text-align: center;
 }
 
 .form-container form h3{
    font-size: 2.5rem;
    color:black;
    text-transform: uppercase;
    margin-bottom: 1rem;
 }
 
 .form-container form .box{
    margin:.7rem 0;
    width: 100%;
    border: 0.2em solid black;
    padding:1.4rem;
    font-size: 1.8rem;
    color:black;
 }
 
 .form-container form p{
    margin-top: 1.5rem;
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .form-container form p a{
    color:black;
 }
 
 .form-container form p a:hover{
    text-decoration: underline;
 } */
 
 /* profile */
 .user-details .user{
    max-width: 50rem;
    margin:0 auto;
    border: 0.2em solid black;
    padding:2rem;
 }
 
 .user-details .user img{
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin-bottom: 1rem;
 }
 
 .user-details .user p{
    padding:1rem 0;
    line-height: 1.5;
    font-size: 2rem;
 }
 
 .user-details .user p span{
    color:var(--black);
 }
 
 .user-details .user p i{
    margin-right: 1rem;
    color:rgb(186, 14, 22);
 }
 
 .user-details .user .address{
    margin-top: 1rem;
 }
 