@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#58cadb;
    --orange:#ff7800;
    --black:#192a56;
    --red:#c0392b;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgb(251, 246, 246);

}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
}
.heading span{
    background: var(--orange);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
section{
    padding:2rem 9%;
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

.headers {
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    height: 70px;
}
.headers .logo{
    color:var(--black);
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 100px;
}
.headers .logo img{ 
    width: 50px;
    height: 50px;
}

.headers .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

.headers .navbar a:hover{
    color:#fff;
    background:var(--green);
}

.headers .icons i,
.headers .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

.headers .icons i:hover,
.headers .icons a:hover{
    color:rgb(65, 176, 156);
    /* background: #58cadb  ; */
    transform: rotate(360deg);
}

.headers .icons #menu-bars{
    display: none;
}

.lo{
    position: fixed;
    margin-left:-110px;
    margin-top: -20px;
}

.headers .icons span{
    font-size: 1.5rem;
    background: rgb(255, 253, 253);

}

/* search part */
.headers .icons #menu-bars{
    display: none;
}

/* footer part */
.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--orange);
}


@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    .headers{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }
    .homes{
        background-position: left;
    }
}

@media (max-width:768px){

    .headers .icons #menu-bars{
        display: inline-block;
    }

    .headers .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .headers .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .headers .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }
    .homes .contentt h3{
        font-size: 5rem;
    }

    .homes .contentt span{
        font-size: 2.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}

.home1{
    margin:0 auto;
    margin-top: 9rem;
    width: 95%;
    border-radius: 1rem;
    background:linear-gradient(rgba(17,17,17,.7),rgba(17,17,17,.7)), url(../img/donation.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 60vh;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom: 5rem;
}
.home1 .contentts{
    text-align: center;
}
.contentts span{
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: .1rem white;
    font-size: 4vw;
    display: block;
}
.contentts h3{
    font-size: 6vw;
    color:white;
}
