*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    position: relative;
    min-height: 100vh;
    background: #334;

}

.container-h1{
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 40px;
    font-weight: normal;
}

.container .video-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container .video-container .video{
    height: 250px;
    width: 350px;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    cursor: pointer;
    overflow: hidden;

}

.container .video-container .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container .video-container .video:hover video{
    transform: scale(1.1);
}

.container .popup-video{
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 8);
    height: 100%;
    width: 100%;
    display: none;

}

.container .popup-video video{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;

}

.container .popup-video span{
    position: absolute;
    top: 5px; right: 20px;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

@media (max-width:768px){
    .container .popup-video video{
        width:95% ;
    }
}